body{
  padding: 0;
  margin: 0;
  align-items: center;
  background-image: url("image/bg_2208A.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div{
  font-family: Microsoft JhengHei;
  color: #ffffff;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  float: left;
}


img{
  width:100%;
  height:auto;
}

button{
  border: 0;
  background-color: #ff0000;
  border-radius:10%;
  cursor:pointer;
}


hr{
  position: fixed;
  align-items: center;
  color: #ffffff;
}

.line_35A{
  top: 47%;
  left: 5.3%;
  width:31.5%;
}

.line_35B1{
  top: 68%;
  left: 6.3%;
  width:29%;
}

.line_35B2{
  top: 75%;
  left: 6.3%;
  width:29%;
}

.line_35B3{
  top: 82%;
  left: 6.3%;
  width:29%;
}


p{
  margin-block-start: 50%;
  margin-block-end: 50%;
  font-family: Microsoft JhengHei;
}

footer{
  position: fixed;
  bottom: 13%;
  left: 40%;
  height: 10%;
  font-family: Microsoft JhengHei;
  color: #ffffff;
  font-size: 200%;
  text-align: center;
}

/*for upper area*/
.block_head{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 20%;
}

/*for lower area*/
.block_body{
  position: fixed;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 80%;
}

/*for head-left*/
.block_25x20{
  position:fixed;
  top: 0%;
  left: 0%;
  width: 25%;
  height: 20%;
}

/*for head-right*/
.block_75x20{
  position:fixed;
  top: 0%;
  left: 25%;
  width: 75%;
  height: 20%;
}

/*for body-left-upper*/
.block_35x30{
  position:fixed;
  top: 20%;
  left: 0%;
  width: 35%;
  height: 30%;

}

/*for body-left-lower*/
.block_35x50{
  position:fixed;
  top: 50%;
  left: 0%;
  width: 35%;
  height: 50%;
  padding-left: 7%;
}

/*for body-right*/
.block_65x80{
  position:fixed;
  top: 20%;
  left: 35%;
  width: 65%;
  height: 80%;
}


.img {
  width:20%;
  height:auto;
}


.logo_suros{
  position:fixed;
  top:4%;
  left :7.2%;
  width: 28%;
}

.icon_search{
  position: fixed;
  top: 40%;
  left: 30%;
  width: 3%;
  height: auto;
}

.icon_del{
  position: fixed;
  top: 40%;
  left: 23%;
  width: 3%;
  height:auto;
}

.icon_filter{
  position: fixed;
  top: 87%;
  left: 30%;
  width: 3%;
  height: auto;
}

.icon_no_filter{
  position: fixed;
  top: 87%;
  left: 23%;
  width: 3%;
  height:auto;
}

.title_head{
  position:fixed;
  top:7.5%;
  left :34.2%;
  color: #ffffff;
  font-size:1450%;
  font-family: Microsoft JhengHei;
  font-weight: bolder;
  letter-spacing: 7%;
}

/*for checkbox with text*/
.txt_with_box{
  color: #ffffff;
  font-family: Microsoft JhengHei;
  font-size:480%;
  letter-spacing: 0.5%;
  font-weight: bold;
}


/*for list header row*/
.list_header{
  position: fixed;
  top: 24%;
  left: 38%;
  width: 55%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 500%;
  font-family: Microsoft JhengHei;
  font-weight: bolder;
  text-align: center;
}


/*for list content row*/
.list_row{
  position: fixed;
  top: 29%;
  left: 38%;
  width: 55%;
  height: 63%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size:450%;
  font-family: Microsoft JhengHei;
  overflow:auto;
}

.list_name{
  width: 54%;
  margin: 0.1% 0% 0.05% 3.5%;
}

.list_date{
  width: 19%;
  margin: 0.1% 0% 0.05% 0%;
}


.list_file{
  width: 20%;
  margin: 0.1% 0% 0.05% 0%;
}


.search_bar1{
  position: fixed;
  top: 24%;
  left: 7.2%;
  width: 27%;
  height: 5%;
  color: darkgray;
  font-family: Microsoft JhengHei;
  font-size: 500%;
  font-weight: bolder;
}

.search_bar2{
  position: fixed;
  top: 32%;
  left: 7.2%;
  width: 27%;
  height: 5%;
  color: darkgray;
  font-family: Microsoft JhengHei;
  font-size: 500%;
  font-weight: bolder;
}


.check_box{
  width: 6.5%;
  height: 6.5%;
}
